* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border: none;
  text-decoration: none;
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #0d1117;
  color: #ffffff;
}

form,
main {
  display: grid;
}

h1 {
  font-size: 32px;
}

h1,
p {
  text-align: center;
}

input,
textarea {
  margin-bottom: 16px;
  background-color: #ffffff;
  border-radius: 2px;
  text-indent: 16px;
  color: #212121;
}

textarea {
  padding-top: 16px;
}

input[type="file"] {
  background-color: transparent;
  color: #fff;
  margin: 8px 0px 0px -16px;
}

input,
.button {
  height: 40px;
}

.button {
  background-color: #8957e5;
  cursor: pointer;
  color: #fff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  opacity: 0.9;
}
